.sidebar-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 80vh;
  transform: translateX(-110%);
  background-color: #c8e5fd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto; /* Enable scrollbar when needed */
border-radius: 10px;
}

.sidebar-left-content {
  height: calc(100% - 20px); /* Adjust for padding */
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-left .close-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #01569b;
}

.sidebar-left.open {
  transform: translateX(0);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar-left {
    width: 200px;
  }
}
